*{
  box-sizing:  border-box;
}
html
{
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
  margin: 0;
}

#Description{
  height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#desc{
  height: 70%;
  width: 50%;
  display: flex;
  background-color: white;
  align-content: center;
  flex-direction: column;
  opacity: 0.7; 
  align-self: center;
  justify-content: center;
  overflow: auto;
}


#desc p{
  align-self: center;   
  height: auto;
   margin: 0 auto;
  font-size: 18px;
  text-align: justify;
    padding: 15px;
    background-color: white;
}

main{
  width: 100%;
  height: 100%;
  
}

.Buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Buttons button{
  cursor: pointer;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  
}
.Buttons button:hover{
  box-shadow: 1px 3px 5px lightgray;
}



.div_class{
  background-color: aquamarine;
  margin: 10px;   
  padding: 10px;
  cursor: pointer;
  width: auto;
  height: auto;
  display: flex;
  
  flex-direction: row;
  flex-wrap: wrap;
  
 
  transition: 0.5s all;
  
}
.div_class>*{
  flex: 1 1 250px;
}


.div_class button{
 
    margin: 30px;
   border-radius: 5px;
    width: auto;
    height: 100%;
    padding: 10px;
    text-align:  center;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}


.div_class img{
  height: 150px;
  width: 230px;
  margin: 5px;
  border-radius: 3px 3px 3px 3px;
  
}
.modal_window{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal_content{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  z-index: 1;
  width: 63.5rem;
  height: 37.5rem;
  overflow-y: scroll;
  
}
.modal_content pre{
  align-content: center;
  align-self: center;
  padding: 10px;
  width: 90%;
  background-color: aliceblue;
  opacity: 0.7;
  white-space: pre-line;
  text-align: center;
}

.show_modal{
  opacity: 1;
  display: block;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.closed_modal{
  display: none;

  
}
.close_modal{
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  display: fixed;
  color: wheat;
  font-size: 40px;
}

.mySlides{
  width: 98%;
 height: 280px;
 display: none;
 
}

.slider{
  display: flex;
}
.prev, .next{
  cursor: pointer;
  font-size: 40px;
  align-self: center;

}
.modal_content p {
  text-align:  center;
  font-weight: bold;
  font-size: 16pt;
  background-color: aliceblue;
}
.video{
  text-align: center;

}
iframe{
  width: 100%;
  height: 360px;
}


